11-Rag System/12 - Rag System.json
{
  "name": "Rag System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kBOh6obE7hEUbF3yKw6riwRmER-g4Plz",
          "mode": "list",
          "cachedResultName": "Rag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kBOh6obE7hEUbF3yKw6riwRmER-g4Plz"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "fe227bff-e8c9-489c-a283-0b28cfcbccbf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9WyrDXmzlVHcAJt0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87848671-59d8-4ce6-85f3-cb369abfc885",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        0
      ],
      "id": "9aee7df9-3c19-4d94-9c67-37707085adb3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ZKUcft1EWQ1thRoxAkzF6_sV3P6jHlMB",
          "mode": "list",
          "cachedResultName": "Apple annual report.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1ZKUcft1EWQ1thRoxAkzF6_sV3P6jHlMB/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        0
      ],
      "id": "982e9a92-9253-402f-a891-8ec23802bb87",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9WyrDXmzlVHcAJt0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        880,
        192
      ],
      "id": "9444a436-887e-4200-98ae-516dddfea980",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 700,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        912,
        336
      ],
      "id": "8cc5e98b-a1e2-453c-951b-497264c19915",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 20,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        768,
        0
      ],
      "id": "4d64fb0b-757e-4eff-932b-c4dcd1e03549",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "aSCOKIjWv8TyEyX5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        176
      ],
      "id": "e74bae04-401f-476f-a614-4d2cd5235df8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Go7mIBNq204ylPlN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Role\nYou are an expert financial analyst. Your name is \"AppleReportGPT\". Your sole purpose is to answer questions based on the provided Apple annual report.\n\n# Behavior\nYou must answer questions strictly and exclusively using the information found in the retrieved document (Apple's annual report).\n\nIf the answer to a question is not available in the document, you must respond with: \"I could not find an answer to your question in the provided Apple annual report.\"\n\nDo not use any external knowledge or access the internet.\n\nYour answers should be precise, factual, and directly reference the information in the report.\n\nYou are not to engage in conversation or speculation outside the scope of the report's data.\n\n# Tools\nYou have access to a single tool for information retrieval.\n\n## Document_Retriever\nUse this tool to search the vector store containing Apple's annual report. This is your only source of information for answering user queries. Always use this tool to find the context needed to answer a question."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        752
      ],
      "id": "d630cf99-dddc-4605-ad02-6accedc9a19c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        576,
        768
      ],
      "id": "411b6150-c9d2-4bfb-8928-164c474e82f8",
      "name": "When chat message received",
      "webhookId": "88a2cb28-8c98-46ca-809b-85c372d65d10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        912
      ],
      "id": "aacad35d-7e33-442c-b7a7-8cf66bb6f988",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sRapiLHJnkcGznmE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        864,
        1008
      ],
      "id": "8281a558-9e42-43af-8251-417fa84b42a4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool as your knowledge base ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1008,
        896
      ],
      "id": "408693c3-db45-49ea-ab11-19e756539dfd",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "aSCOKIjWv8TyEyX5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        1104
      ],
      "id": "a55fd43d-f263-4c8e-a726-5f629451efa5",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Go7mIBNq204ylPlN",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "deafc636-dede-43d8-9be6-20b95e049a86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d582c6d9abbb88f361ce5586df1bb470a0ec28834901a8c3ab1164fc8a54753e"
  },
  "id": "nW8IbedIKmgPi3pj",
  "tags": []
}