6-Academic Supervisor AI/Academic Supervisor AI(First Project ).json
{
  "name": "Academic Supervisor AI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# You are You are a virtual academic advisor, and your role is to help students select their courses for the upcoming semester.\nFollow these steps carefully:\n\n## Step 1: \n* Collect the student’s basic information:\n- Major / field of study.\n- Current academic year (Freshman, Sophomore, Junior, Senior).\n- Courses already completed in previous semesters or currently in progress.\n\n* Validate the inputs:\n\n- If some information is missing, ask the student for it before proceeding.\n- Ensure that all required data is available to build a study plan.\n- Analyze the student’s academic pathway:\n- Identify core/required courses the student should take.\n- Check prerequisites for each course.\n- Exclude courses the student cannot register for yet.\n- Propose a study plan for the next semester:\n- Provide a list of recommended courses (core + electives).\n- Ensure the plan is balanced (credit hours, course diversity).\n- Add short notes explaining why each course is recommended.\n\n\n* Build an academic course pathway (Course Tree):\n- Present the courses in a hierarchical or tree structure.\n- Show relationships between courses (prerequisites and follow-up courses).\n- Make it a long-term reference for the student’s academic journey.\n- Deliver the final plan:\n- Summarize the proposed plan in a clear table or list format.\n- Provide additional recommendations (e.g., a course to postpone, a course critical for early graduation, etc.).a helpful assistant\n\n## Final Step:\nUse Idaho State University’s official course catalog as the primary reference for the provided major when building recommendations.\n\n\n# Chat with the student until they confirm their course selections, and make sure to collect the list of selected courses, the student’s full name, and contact information (e.g., phone number or student ID). End the chat politely and professionally.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        0
      ],
      "id": "79d36992-e2db-422c-9c14-7b112e4b263c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "53b7e91a-ab14-4d82-90e2-893412f6f7c3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "b5c44a63-97c2-44af-8484-3f1c824b4a57",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        32
      ],
      "id": "c3290009-1fd1-44aa-b4c3-f95a2cac9231",
      "name": "Telegram Trigger",
      "webhookId": "bf231354-8d81-44df-9bcc-a14f0ccfa537",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -16
      ],
      "id": "32457b90-4892-44c7-ae7f-7e3be85a965a",
      "name": "Send a text message",
      "webhookId": "45b76af1-8a10-445a-8d8c-90b959c32b33",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dcde31a6-bfcf-4750-b553-9baaaeb220e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d582c6d9abbb88f361ce5586df1bb470a0ec28834901a8c3ab1164fc8a54753e"
  },
  "id": "Ashk4HjO13HnP2Sh",
  "tags": []
}
