4-Restaurant automation/4- Kabsah Gulf (Telegram) with Daily total reminder.json
{
  "name": "Kabsah Gulf (Telegram) with Daily total reminder",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# you are a Sales chatbot working in a Kabsah Gulf food restaurant \n\n# your task is helping customers to buy their meals from Kabsah Gulf restaurant. response in polite and respectful way. Always answer the same accent or language of the customer.  Always ask the location of the customer.\n\n* Kbasah Gulf is famous food that contains rise food with its types and dishesas the folllowing: \n* Meat Kabsah - price 12.00 JD ,\n* Chicken Kabsah - price 9.00 JD\n\n### Additions:\n* Fries - price 1.25 JD\n* Soda Can - price 0.40 JD\n\n\n# Restaurant Location: \"Amman, Abu Nusair\"\n# Tools:\nthis workflow has many tools, use each one when needed.\n\n## Calculator \nuse it when need to calculate total price of order.\n\n## Gmail_Sent \nUse it when the order is confirmed and the customer name and phone number are provided.\n\n## Orders_Data\n\nUse it when the order is confirmed and the customer name and phone number are provided.\n\n# Steps:\nyour task divided into two main steps:\n## step one:\nchat with the customer until they confirm their order, and make sure to collect the order items, Customer name, and Phone number. and end the chat politly\n## Step two:\nafter the customer confirms their order, send an Email to the kitchen using Gmail tool.\n\n## Step three:\nafter order confirmation, append the Name of customer, order Name, and the total price of the order to Google Sheet Tool.\n\n## Step four: \nThen extract from the attached sheet , then calculate the total earned at the whole day, with which most ordered item as email to the owner"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -208,
        -272
      ],
      "id": "12da71f3-5613-4d0b-9ad4-cfff874d46c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        16
      ],
      "id": "2d666858-5613-4ca1-b435-28d822a3cfd1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        32
      ],
      "id": "dd3985cb-b2f2-4792-99c1-922550ecabc6",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "2c870f16-5fd7-4d54-917d-2f9723f65fa3",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "## To be noted\n### Need to add the sheet tools and create the sheet on google drive to make it done well"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -48
      ],
      "typeVersion": 1,
      "id": "06567389-b7b6-41bb-bd87-89375f182db0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "OwnerEmail@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -32,
        0
      ],
      "id": "17520940-05d8-4ec5-8b4a-14997a045b7e",
      "name": "Gmail_Sent",
      "webhookId": "17cf0c72-2585-4d89-a360-a081057f5c79",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIALS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw",
          "mode": "list",
          "cachedResultName": "Kabsah Gulf",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Order": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order', ``, 'string') }}",
            "Total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -176,
        16
      ],
      "id": "7e5c0bfd-1448-4bd0-b9dd-aba56ad448f0",
      "name": "Orders_Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -224
      ],
      "id": "22c5c427-6dee-4009-b9b0-7195e3b08dc9",
      "name": "Send a text message",
      "webhookId": "0f751e51-0d0b-4dff-aba3-0c658d0a90f9",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        -240
      ],
      "id": "3ce485e8-4a81-440a-907e-070fa3bd99de",
      "name": "Telegram Trigger",
      "webhookId": "91b78b4c-d11e-4b69-b18a-f7242c691058",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw",
          "mode": "list",
          "cachedResultName": "Kabsah Gulf",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        160,
        -80
      ],
      "id": "3a08cf28-7da5-4100-87e2-6e5ddc9b1bab",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        256
      ],
      "id": "9ae8cebb-08c4-43f7-abff-817b874f4d96",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -400,
        256
      ],
      "id": "2f4567d7-fcac-4d10-bc29-51c10599c1e5",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        464
      ],
      "id": "aeaf345d-3a63-4dde-9b4c-68a4210fda8d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -336,
        480
      ],
      "id": "935df106-4537-4ae4-9d14-91b39cc5caab",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw",
          "mode": "list",
          "cachedResultName": "Kabsah Gulf",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14gsjqY_OZKw0WE390obpp1V-rjDzlg_KecuozVOwnFw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -144,
        464
      ],
      "id": "69d03bac-78b7-4d73-9fa2-596fe753464b",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -160,
        560
      ],
      "id": "7adb502a-c26d-4e3f-a8eb-d7b9ac0faf07",
      "name": "Send a message in Gmail",
      "webhookId": "8e34a43c-6535-479c-aa71-7dd29c524dd4",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIALS",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Sent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Orders_Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ec4a7f98-6dea-4f5a-b7cb-dd6af811a095",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d582c6d9abbb88f361ce5586df1bb470a0ec28834901a8c3ab1164fc8a54753e"
  },
  "id": "Yg1j6YRyW44dJAvw",
  "tags": []
}
