2-Second_Automation/2-Task_Sender.json
{
  "name": "Task_Sender",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "09667096-c54d-476f-b982-4a5264a50469",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "your_email@organizaiton_domain",
        "subject": "New Task",
        "message": "=You have to do the following:<br>\n{{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "8d6fdf7e-59b6-49fe-a77e-0905050215f4",
      "name": "Send a message",
      "webhookId": "7113a72b-0dcf-43f1-8243-a971a8f67a69",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIALS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "DocumentID",
          "mode": "list",
          "cachedResultName": "Task Spongbob ",
          "cachedResultUrl": "Document_link"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Iax4lpo8yAMi7GmC0SpNp_KOVomZvlKDsgxNNq6aHY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        0
      ],
      "id": "1f20452b-450a-4907-ac25-e4d80f96456c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "rows = []\n\nfor item in _input.all():\n  row_number = item.json.get(f\"row_number\", \"\")\n  task = item.json.get(f\"Task \", \"\")\n  time = item.json.get(f\"Time \", \"\")\n\n  rows.append(f\"{row_number} | {task} | {time} \\n\")\n\n\nemailBody = \"<br>\".join(rows)\n\n# return as a single item\nreturn [{\n    \"json\": {\n        \"emailBody\": emailBody\n    }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "9599d602-8cf0-443c-8e36-57c21ef7bcff",
      "name": "Code in Python (Beta)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9689b3c0-07bb-4f96-8553-328827751786",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d582c6d9abbb88f361ce5586df1bb470a0ec28834901a8c3ab1164fc8a54753e"
  },
  "id": "v2GaYAQRZecbry0A",
  "tags": []
}
