14-Restaurant Chatbot (RAG)/Restaurant Chatbot (RAG).json
{
  "name": "Restaurant Chatbot (RAG)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1-MPbgs7EualBqGI9PSZ7G58_8DDT8wQQ",
          "mode": "list",
          "cachedResultName": "Restaurnt Rag System",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-MPbgs7EualBqGI9PSZ7G58_8DDT8wQQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "098f650f-72ab-4bdc-b4ed-0d892f505318",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87848671-59d8-4ce6-85f3-cb369abfc885",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "4ed5c6ee-99ac-434b-9f4d-b1168708288b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1RZL-xqKtJ8fw72D6UvwWzJGb1nnEe8fh",
          "mode": "list",
          "cachedResultName": "دليل سياسات وإجراءات مطعم.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1RZL-xqKtJ8fw72D6UvwWzJGb1nnEe8fh/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "7ee2ae93-457f-4d52-a765-200c5e0bedb8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        192
      ],
      "id": "2858006d-2355-4b6c-8a6f-9cfad892a8a5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 700,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        736,
        368
      ],
      "id": "b6547220-802f-430b-a138-d228caa08d64",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 20,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        640,
        0
      ],
      "id": "f67b6f41-ba1b-4073-9750-a55884528175",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        176
      ],
      "id": "24b1163d-793b-4d11-8961-8a5a58cd1979",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Role\nYou are the official AI Chatbot for \"The Grand Feast\" restaurant (. Your name is \"DineBot\". Your sole purpose is to answer customer questions based on the provided **Restaurant Guide and Policies** and the **Restaurant Menu**.\n\n# Behavior\nYou must answer questions strictly and exclusively using the information found in the retrieved documents (Restaurant Guide and Policies, and Menu).\n\nIf the answer to a question is not available in the documents, you must respond with: \"I apologize, I could not find the answer to your question in the available Restaurant Guide, Policies, or Menu.\"\n\nDo not use any external knowledge or access the internet.\n\nYour answers should be:\n1.  **Polite and helpful** in a welcoming tone.\n2.  **Precise and factual**, directly referencing the information in the documents.\n3.  **Concise**, aiming to resolve the customer's query efficiently.\n\nYou are not to engage in conversation or speculation outside the scope of the restaurant's data. You are an information provider only.\n\n# Tools\nYou have access to a single tool for information retrieval.\n\n## Document_Retriever\nUse this tool to search the vector store containing the **Restaurant Guide and Policies** and the **Restaurant Menu**. This is your only source of information for answering user queries. Always use this tool to find the context needed to answer a question.\n\n## Menu (Google Sheet)\n\nUse this tool to get the menu of the restuarant when a custome asks for.\n\n\n# Available Information Categories (to guide search)\n* **Menu Items & Pricing:** For questions about specific dishes, ingredients, prices, or specials.\n* **Policies:** For questions about reservations, cancellation fees, dress code, payment methods, or service charges.\n* **Restaurant Guide:** For questions about opening hours, location, contact information, parking, or facilities (like Wi-Fi, private dining)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1552,
        -16
      ],
      "id": "8599092e-519b-4415-881f-7388cb01f5c4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1264,
        -16
      ],
      "id": "4c715ffe-ddb6-462d-a40e-08b49cc75255",
      "name": "When chat message received",
      "webhookId": "88a2cb28-8c98-46ca-809b-85c372d65d10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        144
      ],
      "id": "cf660fff-897f-4bc4-9594-8c82acf37071",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1552,
        240
      ],
      "id": "9f2ff1e2-00f5-49eb-b921-489c8fc55827",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool as your knowledge base ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1744,
        160
      ],
      "id": "250d34fa-bbd6-4690-8ed0-9ba17d1daec0",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1808,
        336
      ],
      "id": "69eb5a19-1a63-4110-a4fa-41b0f1200cb2",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIALS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Rag System",
        "height": 608,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -48
      ],
      "typeVersion": 1,
      "id": "75415bab-b055-4692-9cce-0895b434d2ee",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Restaurant Implementation\n",
        "height": 656,
        "width": 1056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        -96
      ],
      "typeVersion": 1,
      "id": "50b95c43-ffe2-4d6d-a531-743a00273bbd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1dh6admUdLGlrtCmzRFZH8rCxoE9NNbwn",
          "mode": "list",
          "cachedResultName": "Menu.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1dh6admUdLGlrtCmzRFZH8rCxoE9NNbwn/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        144
      ],
      "id": "2f38da40-ea73-455a-953f-9125c58bd34e",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIALS",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d61d57b9-0bc9-4d2a-8f4e-dcf4ef4fc3fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d582c6d9abbb88f361ce5586df1bb470a0ec28834901a8c3ab1164fc8a54753e"
  },
  "id": "DgOPZ8AKOonmAOfM",
  "tags": []
}
